/* header section start */
header{
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)) ,url(../img/banner.jpg);
    height: 676px;
}
header .navbar-brand img{
    height: 70px;
}
header .nav-link {
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    text-align: right;
}
header .nav-link:focus, 
header .nav-link:hover {
    color: #87d37c;
}
header .navbar-nav .nav-link.active, 
header .navbar-nav .show>.nav-link {
    color: #87d37c;
}
/* header section end */